/*
 * Override dc.js default styles for selection
 */

/* .dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: #ccc;
    fill-opacity: 1;
} */

.dc-chart g.row text {fill: black;}

.dc-chart path {
	stroke-width: 1;
    stroke: #666;
    fill-opacity: 1;
}

/*
 * Page specific styles
 */

.logo {
        height:50px;
	padding: 5px;
	margin: 5px;
}

.score-chart svg g g.axis { display: none; }


/* SUNBURST STUFF */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 960px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}